extends ../layout

block content
  //<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  //<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  br
  h2 Start ObyFit Challenge

  // JavaScript section

  // Form sections

  // Step 1 : Google Authorisation Form
  if step_1
    form(method='POST' action='/sign_up')
      input.form-control(
       id='form_action'
       name='form_action'
       value='authorise'
       type='hidden'
      )
      br
      h5 Step 1. Authorise ObyFit access to your Google Fit data
      p Please click on Authorise button and grant ObyFit read access to your Google Fit data.
      div.form-group
        div.form-row
            button.btn.btn-primary.ml-2(type='submit') Authorise

  // User Data Form
  if step_2
    form(method='POST' action='/sign_up')
      input(
       id='form_action'
       name='form_action'
       value='save_user_data'
       type='hidden'
      )
      input(
       id='google_authorization_code'
       name='google_authorization_code'
       value=google_authorization_code
      )
      input(
       id='refresh_token'
       name='refresh_token'
       value=refresh_token
      )
      br
      h5 Step 1. Authorise ObyFit access to your Google Fit data
      p Thank you for granting ObyFit read access to your Google Fit data.
      div.form-group
        div.form-row
            button.btn.btn-primary.ml-2(type='submit' disabled) Authorise
      br
      h5 Step 2. Specify your Obyte testnet wallet address
      p Please provide us with your Obyte testnet wallet address.
      div.form-group
        div.form-row
          div.col-md-3
            label(for='wallet' ) Obyte Wallet Address:
            input.form-control(
              id='wallet'
              name='wallet'
              required
            )
        hr
      div.form-group
        div.form-row
          div.btn-toolbar
            button.btn.btn-primary.ml-2(type='submit') Save

  // Result Section
  if result
    form(method='POST' action='/sign_up')
      div.form-group
        div.form-row
          div.col-md-3
            label(for='email' ) E-mail:
            input.form-control(
              id='email'
              name='email'
              type='email'
              value= email
              readonly
            )
          div.col-md-3
            label(for='wallet' ) Obyte Wallet Address:
            input.form-control(
              id='wallet'
              name='wallet'
              readonly
              value= wallet
            )
        hr
        input.form-control(
         id='state'
         name='state'
         value='authorise'
         type='hidden'
        )
      div.form-group
        div.form-row
          div.btn-toolbar
            button.btn.btn-primary.ml-2(type='submit' disabled) Sign up
            button.btn.btn-primary.ml-2(type='submit') Authorise
            button.btn.btn-primary.ml-2(type='submit' disabled) Send Prize
      br
      div.alert.alert-success.alert-dismissible(id='result')
        a.close( href='#' data-dismiss='alert' ) ×
        h4 User Data is saved !
        p= result

  // Send Bytes to AA Section
  if authorise
    form(method='POST' action='/sign_up')
      div.form-group
        div.form-row
          div.col-md-3
            label(for='email' ) E-mail:
            input.form-control(
              id='email'
              name='email'
              type='email'
              value= email
              readonly
            )
          div.col-md-3
            label(for='wallet' ) Obyte Wallet Address:
            input.form-control(
              id='wallet'
              name='wallet'
              readonly
              value= wallet
            )
        hr
        input.form-control(
         id='state'
         name='state'
         value='authorise'
         type='hidden'
        )
      div.form-group
        div.form-row
          div.btn-toolbar
            button.btn.btn-primary.ml-2(type='submit' disabled) Sign up
            button.btn.btn-primary.ml-2(type='submit' disabled) Authorise
            a.button.btn.btn-primary.ml-2(href="byteball-tn:IOSRPEX2BXEV6KNFBJTCAA32MT7NDI5L?amount=1020000&amp;asset=base")='Send Prize'
            //button.btn.btn-primary.ml-2(type='submit') Send Prize
    br
    div.alert.alert-info.alert-dismissible(id='info')
      a.close( href='#' data-dismiss='alert' ) ×
      strong Send Prize to AA:
      br
      span Send 1,020,000 bytes to the ObyFit Autonomus Agent to enter the 7-day walking challenge.

  if error
    form(method='POST' action='/sign_up')
      div.form-group
        div.form-row
          div.col-md-3
            label(for='email' ) E-mail:
            input.form-control(
              id='email'
              name='email'
              type='email'
              required
              value= email
            )
          div.col-md-3
            label(for='wallet' ) Obyte Wallet Address:
            input.form-control(
              id='wallet'
              name='wallet'
              required
              value= wallet
            )
        hr
      div.form-group
        div.form-row
          div.btn-toolbar
            button.btn.btn-primary.ml-2(type='submit') Sign up
            button.btn.btn-primary.ml-2(type='submit' disabled) Authorise
            button.btn.btn-primary.ml-2(type='submit' disabled) Prize
    br
    div.alert.alert-danger.alert-dismissible(id='error')
      a.close( href='#' data-dismiss='alert' ) ×
      strong Error:
      span  User data can not be saved !
      span= error

  br
  br
  br
