extends layout

block content
  h2 ObyFit Coach
  p An Obyte Autonomous Agent application to help you to keep fit.

  h5 Earn bytes with every step

  p.strong Keep fit with Obyte Google Fit walking challenge. Connect your Google Fit account with ObyFit and earn back bytes with every step.
  p.
    Sing up for a 7 day - '10,000 steps a day' walking challenge and
    motivate yourself by setting aside 1,000,000 bytes prize
    locked in the ObyFit Autonomous Agent.
    These bytes will be released to you as you progress through the challenge.

  p Walk 10,000 steps a day to earn back up to 100,000 bytes a day.
  p Walk 70,000 steps in 7 days to earn back 300,000 bytes bonus.

  h5 Sing up in 3 easy steps:
  ul
    li Enter your Obyte Wallet Address,
    li Authorise Google Fit access,
    li Send Prize to Obyte Autonomus Agent

  p Obyfit is currently running on
    span=' '
    a(href='https://obyte.org/testnet.html' target="testnet")='Obyte testnet'
    span .  Click
    span=' '
    a(href='byteball-tn:AxBxXDnPOzE/AxLHmidAjwLPFtQ6dK3k70zM0yKVeDzC@obyte.org/bb-test#0000')='here'
    span  to get free bytes for your testnet wallet.

  br
  a.button.btn.btn-primary.ml-2(href="sign_up")='Sign up'

  br
  br
  br
