header.bg-light
  block menu
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.text-dark(href=".")="Home"
      li.nav-item.dropdown
        a.nav-link.text-dark.dropdown-toggle(href="#" id="navbardrop" data-toggle="dropdown")= "ObyFit"
        div.dropdown-menu
          a.dropdown-item(href="sign_up")="Sign up"
          a.dropdown-item(href="settings")="Settings"
      li.nav-item.dropdown
        a.nav-link.text-dark.dropdown-toggle(href="#" id="navbardrop" data-toggle="dropdown")= "Info"
        div.dropdown-menu
          a.dropdown-item(href="terms")="Terms of Service"
          a.dropdown-item(href="privacy")="Privacy"
      //li.nav-item
        //a.nav-link.text-dark(href="projects")= "Projects"
