extends ../layout

block content
  br
  h2 Custody Search
  hr
  if data.length
    p Data Found
    //each custody_record, index in data
      div
        p Data Found
        // Accordion
        div.card(id='details')
          // Formated Note
            textarea(id='noteTxt-'+index style="display:none;")= message.note

          div.card-header
            div.row
              div.col-md-4
                p= message.time
              if message.type
                div.col-md-1
                  a(data-toggle="collapse"
                    data-parent="#details"
                    href="#formattedCard"+index)
                      i.fa.fa-book
              if message.file
                div.col-md-1
                  a(data-toggle="collapse"
                    data-parent="#details"
                    href="#img-"+index)
                      i.fa.fa-picture-o
              div.col-md-1
                a( href="https://testnetexplorer.obyte.org/#"+message.unit
                  target="testnet" )
                    i.fa.fa-cloud

          if message.note
            div.collapse.show(id="formattedCard"+index)
              div.card-body
                div(id='noteDiv-'+index)
                script.
                  var id = #{index};
                  var invNoteElement = document.getElementById('noteTxt-'+id);
                  var invNoteElementValue = invNoteElement.value;
                  var newElement = document.createElement('div');
                  newElement.innerHTML = invNoteElementValue;
                  document.getElementById('noteDiv-'+id).appendChild(newElement);

        div.row.mb-2
  else
    p No data found
